html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

body {
    font-family: arial;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    margin-top: 30px;
    text-transform: uppercase;
    color: #ba8d25;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
    text-transform: uppercase;
    color: #c54221;
}

.container {
    width: 700px;
    margin: auto;
    padding: 20px;
    position: relative;
}

.computer-area {
    width: 600px;
    height: 270px;
    margin: 5px auto;
    background-color: rgb(227, 223, 169);
    position: relative;
    padding-top: 40px;
    box-sizing: border-box;
    border-radius: 40px 40px 0 0;
}

.player-area {
    width: 600px;
    height: 270px;
    margin: 5px auto;
    background-color: rgb(158, 135, 48);
    position: relative;
    border-radius: 0 0 40px 40px;
}

.info {
    width: 150px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: -30px;
    background-color: rgb(3, 143, 47);
    border-radius: 30px;
    z-index: 1;
    text-align: center;
    line-height: 60px;
    color: #ffffff;
    font-size: 26px;
}

ul {
    padding-top: 80px;
    padding-left: 60px;
}

li {
    display: inline-block;
    margin: 0 18px;
}

img {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.rock, .paper, .scissors{
    transition: .3s;
    position: relative;
    top:0;
    cursor: pointer;
}

.refresh{
    width: 50px;
    height: 50px;
    transition: .3s;
    position: relative;
    top:0;
    cursor: pointer;
}

.rock:hover, .paper:hover, .scissors:hover, .refresh:hover .active {
    box-shadow: 0 0 10px 5px rgb(167, 162, 11);
}

.rock:active, .paper:active, .scissors:active {
    top: 2px;
}
